<div class="col-sm-8 blog-main">
  
  <h1>Topics</h1> 
  
  <%= render @topics %>
  
</div>

<!-- You can paginate this if you want to have multiple topics. The code for that is below this message -->

<!--      < % = paginate @topics % >      -->