<h1>Pages#about</h1>
<!-- <p>Find me in app/views/pages/about.html.erb</p> -->
<!-- about me!!!! -->
<p>Hi My name is (something I wont disclose here) <br>

 Hi again my age is (something else I wont disclose here) <br>
 
Hello, stuff you may or may not want to know about me </p>

<br>

<ol> 
<li> Social security # (what, you think I'm stupid???) </li>
<li> My phone # (too personal) </li>
<li> Email? not this time </li>
<li> Where I live: somewhere in the know universe, you could say that is vague..... good </li> 
<li> My favorite color (there's more than one so I can't say) </li>
<li> I like tanks </li>
</ol>
