<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "1080x1080.png", width: 300, alt: "Profile Image" %> 
  </div>
  
  <div class="col-md-8">
    <p> Just a student trying to learn how to code :) nothing more.</p>

    <ol>A little about me:
    <li>I have a rock collection with crystals minerals and some rare and beautiful stones. And coin collection from over 20 countries worldwide includeing copies of pirate coins found in an old shipwreck.</li>
    <li>Fovorite color(s): Blue Orange Green.</li>
    <li>I love to game</li>
    </ol>
  </div>
</div>
